.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.profile{
    border-radius: 50%;
}

.content{
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70rem;
    margin: 2rem;
    padding: 2rem;
    gap: 10px;
}

.titlecontent{
    font-size: 2rem;
}

.descriptionContent {
    margin-top: 2rem;
}

.button {
    font-size: 1.5rem;
    color: white;
    background-color: #fa4949;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #ffffff;
    margin-top: 1rem;
}